:root {
    /*sub menu*/
    --fondo: #F2F4F8;
    --plomo: #1B1811;
    --rojoc: #D90F2A;
    --azulc: #0506E6;
    --naranjac: #F05905;
    --moradoc: #B105F0;
    --amarillocrema: #E6AD09;
    --amarillo: #FDF107;
    --verde: #0C8F3D;
    --azulOsucuro: #000C4B;
    --azulClaro: #12377B;
    --azulAgua: #0A2FFF;
    --rojo: #D8261A;
    --colorsubmenubg: #ffffff;
    --colorTextoEnlacesySubEnlaces: #12377B;
    /*HeaderPrincipal*/
    --amarillo: #E6AD09;
    --texroBarra: #ffffff;
    --barra: #12377B;
    --enlaceNavegador: #11116f;
    --enlaceNavegadorHover: #E6AD09;
    /*HeaderSecundario*/
    --blanco: #ffffff;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --oscuro: #212121;
    --textoNagadorHover: #B36036;
    --fondoSubEnlaces: #ffffff;
    --alturaTexto: 100px;
    --texroBarra: #ffffff;
    --tipoTexto1: 'Montserrat', sans-serif;
    /* --tipoTexto1: 'Hind Siliguri', sans-serif;*/
}

.contManuales {
    width: 100%;
    height: 100%;
    background-color: var(--fondo);
}

.seccionesMa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-top: 5rem;
    margin: 0rem auto;
}

.colMa {
    margin-top: rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 58rem;
}

.colMa h1 {
    margin: 1rem;
}

.colMd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: rgb(48, 221, 13); */
    width: 80%;
    height: 100%;
}

.pdfview {
    /* Centrado */
    margin: auto;
    display: block;
    /* Tamaño */
    width: 850px;
    height: 58rem;
    /* Mejorar aspecto */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.seccionI>h3 {
    color: var(--barra);
    cursor: pointer;
    font-size: 1.6rem;
}

.seccionI>h3:hover {
    color: var(--azulc);
    cursor: pointer;
    font-size: 2rem;
}

.iconoY {
    font-size: 3rem;
    margin-right: 1rem;
}

.iconoY :hover {
    color: var(--rojoc);
}

.youtube_video {
    width: 42rem;
    height: 20rem;
}

.itemY:hover {
    box-shadow: 0px 2px var(--amarillocrema);
    color: var(--azulAgua);
}

.descripcionYou:hover {
    color: var(--azulAgua);
}