
*p,
*:before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-weight: 800;
}

body {
    overflow-x: hidden;
}

:root {
    --colorMenu: #ffd65b;
    --colorFondoSubMenu: #000000c2;
    --colorSubMenu: #ffffff;
    --colorBarraEnlace: #ff0000;
    /*sub menu*/
    --colorsubmenubg: #ffffff;
    --colorTextoEnlacesySubEnlaces: #12377B;
    /*HeaderPrincipal*/
    --texroBarra: #ffffff;
    --barra: #12377B;
    --enlaceNavegador: rgb(25, 30, 98);
    --enlaceNavegadorHover: #E6AD09;
    /*HeaderSecundario*/
    --blanco: #ffffff;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --oscuro: #212121;
    --textoNagadorHover: #B36036;
}

.nav-bar {
    /*color de icono*/
    display: block;
    color: var(--colorMenu);
    cursor: pointer;
    font-size: 17px;
    width: 100%;
}

.menu,
.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    display: none;
    width: 100%;
    /*ddd*/
    margin-left: -100%;
}

.mostrar {
    display: block;
    height: 100%;
    transition: all 0.3s;
    margin-left: 0;
    overflow: visible;
}

.menu__link {
    display: block;
    padding: 10px 0px;
    font-size: 17px;
    text-decoration: none;
    color: var(--colorMenupc);
}

 .menu__link {
    color: var(--colorMenu);
}


.submenu .menu__link {
    color: white;
}

.submenu {
    height: 0;
    padding: 0;
    overflow: hidden;
}

.submenu .menu__item a {
    padding-left: 15px;
    background-color: var(--colorTextoEnlacesySubEnlaces);
}

.submenu .menu__link:hover {
    padding-left: 10px;
    transition: all 0.3s;
}

@media(min-width:1024px) {
    .nav-bar {
        display: none;
    }
    .menu {
        margin-left: 0;
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu .m {
        position: relative;
    }
    .menu li {
        padding: 0px 20px;
    }
    .menu .m::after {
        justify-content: center;
        content: "";
        background-color: var(--colorBarraEnlace);
        position: absolute;
        left: 0;
        top: 100%;
    }
    .menu .m.select::after,
    .menu .m:hover::after {
        transition: all 0.3s;
        top: calc(100% + 20%);
        opacity: 1;
    }
    .container-submenu {
        position: relative;
    }
    .submenu {
        position: absolute;
        top: 40px;
        width: 250px;
        /*ancho de sub enlace*/
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
    }
    .container-submenu:hover .submenu {
        opacity: 1;
        visibility: visible;
    }
}

header {
    z-index: 999;
    background: linear-gradient(to bottom, var(--enlaceNavegador), var(--enlaceNavegador));
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 0;
}

header.down {
    /* background: rgb(255, 255, 255); */
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px auto;
    padding: 5px 0;

}


header .brand {
    color: rgb(82, 8, 201);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

.menu .menu__link .enlacesDown {
    color: red;
}



.container {
    width: 90%;
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}