:root {
    /*sub menu*/
    --colorsubmenubg: #ffffff;
    --colorTextoEnlacesySubEnlaces: #12377B;
    /*HeaderPrincipal*/
    --texroBarra: #ffffff;
    --barra: #12377B;
    --enlaceNavegador: #11116f;
    --enlaceNavegadorHover: #E6AD09;
    /*HeaderSecundario*/
    --blanco: #ffffff;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --oscuro: #212121;
    --textoNagadorHover: #B36036;
    --fondoSubEnlaces: #ffffff;
    --alturaTexto: 100px;
    --texroBarra: #ffffff;
    --tipoTexto1: 'Montserrat', sans-serif;
    /* --tipoTexto1: 'Hind Siliguri', sans-serif;*/
}

*,
*:before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 600;
}



body {
    font-family: var(--tipoTexto1);
}

.contenedor {
    width: 100%;
}
