*:before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-weight: 800;
}


body,
html {
  overflow-x: hidden;

}


:root {
  --colorMenu: #ffffff;
  --colorFondoSubMenu: #000000c2;
  --colorSubMenu: #ffffff;
  --colorBarraEnlace: #ff0000;
  /*sub menu*/
  --colorsubmenubg: #ffffff;
  --colorTextoEnlacesySubEnlaces: #12377b;
  /*HeaderPrincipal*/
  --texroBarra: #ffffff;
  --barra: #12377b;
  --enlaceNavegador: rgb(25, 30, 98);
  --enlaceNavegadorHover: #ffc107;
  /*HeaderSecundario*/

  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --oscuro: #212121;
  --textoNagadorHover: #b36036;

  --amarillo-mostaza: #e6ad09;
  --azul-claro: #0a2fff;
  --azul-medio: #12377b;
  --azul-oscuro: #000c4b;
  --blanco: #ffffff;
}

/*#region navegador*/

/* barra de celular */
.nav-bar {
  display: block;
  color: var(--colorMenu);
  cursor: pointer;
  font-size: 80px;
  width: 100%;
  padding: 10px 13px;
  display: flex;
  justify-content: flex-end;
}

.menu,
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu {
  display: none;
  width: 100%;
  margin-left: -100%;
}

.mostrar {
  display: block;
  height: 100%;
  transition: all 0.3s;
  margin-left: 0;
  overflow: visible;
}

.menu__link {
  display: block;
  padding: 5px 0px;
  padding-left: 20px;
  font-size: 13px;
  color: var(--colorMenu);
}

.menu__link:hover {
  text-decoration: none;
}

.submenu .menu__link {
  color: var(--colorMenu);
}

.submenu {
  height: 0;
  padding: 0;
  overflow: hidden;
}

.submenu .menu__item a {
  padding-left: 15px;
  background-color: var(--colorTextoEnlacesySubEnlaces);
}

.submenu .menu__link:hover {
  padding-left: 10px;
  transition: all 0.3s;
}

@media (min-width: 1024px) {
  .nav-bar {
    display: none;
  }
  .menu {
    margin-left: 0;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu .m {
    position: relative;
  }
  .menu li {
    padding: 0px 10px;
  }
  .menu .m::after {
    justify-content: center;
    content: "";
    background-color: var(--colorBarraEnlace);
    position: absolute;
    left: 0;
    top: 100%;
  }
  .menu .m.select::after,
  .menu .m:hover::after {
    transition: all 0.3s;
    top: calc(100% + 20%);
    opacity: 1;
  }
  .container-submenu {
    position: relative;
  }
  .submenu {
    position: absolute;
    top: 30px;
    width: 250px;
    /*ancho de sub enlace*/
    overflow: visible;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
  }
  .container-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
  }
  .menu__link {
    padding-left: 0px;
  }
}

header {
  z-index: 999;
  background: linear-gradient(
    to bottom,
    var(--enlaceNavegador),
    var(--enlaceNavegador)
  );
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 10px 0;
}

header.down {
  /* background: rgb(255, 255, 255); */
  position: fixed;
  top: 0;
  left: 0;
  margin: 0px auto;
  padding: 5px 0;
}

header .brand {
  color: rgb(82, 8, 201);
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu .menu__link .enlacesDown {
  color: red;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

/*#endregion nave*/

.contenedorPrincipal {
  max-width: 100%;
  overflow-x: hidden;
}

.logosplaforma {
  width: 180px;
  margin: 0px 30px;
}

.equipoimg {
  width: 200px;
  height: 250px;
}
.cont-titulo {
  height: 40px;
}



@media (min-width: 1024px) {
  .cont-titulo {
    height: 80px;
  }
}

.input{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 0 4px 0 4px;  
}

a:link, a:visited, a:active {
  text-decoration:none;
}

/* footer*/

.cont-info {
  max-width: 200px;
  margin: auto;
  margin-top: 10px;
  border-radius: 20px;
  border-color: var(--amarillo-mostaza);
  border: solid 2px var(--amarillo-mostaza);
  color: var(--azul-medio);
  padding: auto;
}
.logosplaforma {
  height: 100px;
  width: 100px;
}
.text-cursosmooc{
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.text-area{
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.mostaza {
  color: var(--amarillo-mostaza);
}
.blueclaro {
  color: var(--azul-claro);
}
.bluemedio {
  color: var(--azul-medio);
}
.blueoscuro {
  color: var(--azul-oscuro);
}
.blanco {
  color: var(--blanco);
}

.bgbluemedio{
  background-color:  var(--azul-medio);;  
}


/* PERFILES ACADEMICOS */

/*#region perfiles*/

.fondo {
  color: var(--azul-medio);
  border-color: #aaaaaa;
  border-width: 1px;
  border-style: solid;
  border-bottom-right-radius: 80px;
}

.fondo:hover h1 {
  color: white;
}

.fondo:hover h5 {
  color: white;
}

.fondo:hover {
  background-color: #FFC90D;
  color: white;
}

.pefilescuela {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px
}

.pefilescuela:hover {
  background-color: white;
  border: 3px solid #000;
  color: var(--azul-medio);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px
}

.pefilescuela:hover .azul {
  color: var(--azul-medio);

}

.pefilborder {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px
}

/*#endregion perfiles*/


/*variables*/
.contedor80 {
  max-width: 80%;
  margin: auto;
}

.contedor90 {
  max-width: 100%;
  margin: auto;
}

@media (min-width: 1024px) {
  .contedor90 {
      max-width: 800px;
      margin: auto;
  }
}



.amarillo {
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.amarillo::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #FFC90D;
  position: absolute;

  z-index: 1;
  top: -800px;
  left: 0;
  transition: .5s ease-in-out all;
}

.amarillo:hover::after {
  top: 0;
  transition: .5s ease-in-out all;

}


.amarillo .t {
  position: relative;
  z-index: 2;
  transition: .2s ease all;

}

